<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Jennifer Ludwig">
		<title>How to Change Your Life</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>
	<body>
		<h1 class="outerDiv" align="center">How to Change Your Life</h1>
		<div class="outerDiv">
			<a class="link" href="http://flip3.engr.oregonstate.edu:7296/">Home</a>
			<a class="link" href="http://flip3.engr.oregonstate.edu:7296/have-an-idea">Have an Idea</a>
			<a class="link" href="http://flip3.engr.oregonstate.edu:7296/make-a-plan">Make a Plan</a>
			<a class="link" href="http://flip3.engr.oregonstate.edu:7296/make-it-happen">Make it Happen</a>
		</div>
		{{{body}}}
	</body>
</html>