<h2><b>Have an Idea</b></h2>
<p>When contemplating a major life change, it is helpful to understand your values.
One way of visualizing and brainstorming your values is to create a mind map.</p>

<p>Watch the video below and create your own mind map!</p>

<iframe id="video" align="center" width="560" height="315" src="https://www.youtube.com/embed/Jb3LJNSycaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; 
gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Example</h3>
<p>Make your own mind map using <a href="https://mimind.cryptobees.com/">miMind</a>.</p>
<img class="container" src="/img/Values.jpg" alt="Mind Map">

