<p align="center">Experiencing a major life change or just tired of the same old shit?</p>

<p align="center">This site will provide you with the tools to make positive changes in your life 
and stick with them.</p>

<!-- Slideshow container -->
<div class="container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides">
    <div class="numbertext">1 / 3</div>
    <img src="/img/img1.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 3</div>
    <img src="/img/img2.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 3</div>
    <img src="/img/img3.jpg" style="width:100%">
  </div>
</div>
<p align="center"><i>“Man cannot discover new oceans unless he has the courage to lose sight of the shore.”
– Andre Gide</i></p>  
<script src="/js/slideshow.js"></script>
