<h2><b>Make it Happen</b></h2>
<p>The last phase of changing your life is to make it happen!</p>

<div class="plan">
	<h3>{{name}}'s Plan</h3>
	<p>What do you want to change?</p>
	<p>{{text1}}</p>
	<p>Why are you making this change?</p>
	<p>{{text2}}</p>
	<p>How will you make it happen?</p>
	<p>{{text3}}</p>
</div>

<h3>Practice the three R's</h3>
<ul>
	<li><b>Routine</b>
	<p>Creating a routine that integrates the changes you've been
	working so hard to make is a powerful way to make them stick. There are
	many resources that can help you create and maintain positive habits.</p></li>
	<li><b>Reflect</b>
	<p>Reflecting on how the changes you've made make you feel and
	have lead to other positive improvements in your life can lead to a positive
	feedback loop.</p></li>
	<li><b>Reiterate</b> 
	<p>Once you've reflected, think about how you can adopt different
	practices to make it easier to maintain the changes.</p></li>
</ul>

<h3>Jen's Story</h3>
<p>Below is my experience changing my life using this three-step process.</p>

<div class="scrollbox">In 2018 I was 5 years into a career I wasn't thrilled with,
living in the same state I had for all of my life. I felt like my life had plateaud...
I was living on autopilot. That year I did a lot of self reflection, learned new skills,
and took a lot of good risks. I applied to the OSU post-bacc program in computer science
because I had wanted to make the shift into tech for a long time. The summer of 2018 
is when things really got interesting. I was laid off from my job, and on a whim, took
off on a cross country road trip to visit national parks and do other things I've always
wanted to. When I came back, I started OSU. After my first semester at OSU, I moved
across the country, from Boston to Denver, and have not looked back. I got a job and
am starting to build a life here. Could not be happier with my choices. Sometimes it's
worth it to dive in head first!
</div>