<h2><b>Make a Plan</b></h2>
<p>Once you're certain that the change you want to make aligns with your values, it's time to come up with a plan.</p>

<p>Submit your plan below or print out a blank sheet to fill out.</p>

<div class="plan">
	<h3>Submit your plan</h3>
	<form action="/make-it-happen" method="post">
		<label>Your name (required):</label>
		<input name="name" rows=10 cols=10 maxlength="500"><br>
		<p>What do you want to change?</p>
		<textarea class="input" name="text1" rows=10 cols=10 maxlength="500"></textarea><br>
		<p>Why are you making this change?</p>
		<textarea class="input" name="text2" rows=10 cols=10 maxlength="500"></textarea><br>
		<p>How will you make it happen?</p>
		<textarea class="input" name="text3" rows=10 cols=10 maxlength="500"></textarea><br>
		<input type="submit" value="Submit" name="New-Plan"><br>
	</form>
</div>

<h3>Download a printable version</h3>
<form method="get" action="/doc/make-a-plan.docx">
   <button type="submit">Download!</button>
</form>